#about-us-header {
  .container-fluid {
    padding: 0;
  }
  .about-us-header-img {
    img {
      width: 100%;
      filter: brightness(50%);
    }
  }
}

#about {
}

#abou-2 {
}

#about-3 {
  .fit-image {
    width: 100%;
  }
}
