* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
header {
  position: relative;
}
.pre-title {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #058283;
}
.featured {
  color: #058283;
}

#header-top {
  background-color: #21333e;
  font-size: 1rem;
  p {
    cursor: default;
    opacity: 0.5;
  }
  i {
    opacity: 0.8;
  }

  .header-open-group {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    p {
      margin: 1rem 0;
    }
  }

  .header-info {
    display: flex;
    color: white;
    ul {
      display: flex;
      margin: 0;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      p {
        margin: 1rem 0;
      }
    }
  }

  .header-icon {
    ul {
      gap: 30px;
      margin: 1rem 0;
    }
  }
}

#header-main {
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 1;
  .navbar {
    .nav {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: baseline;

      .navbar-btn {
        position: relative;
        z-index: 2;
        padding: 10px 25px;
        background-color: #058283;
        border-radius: 4px;
        border: 1px solid #058283;
        text-decoration: none;
        color: white;
        font-weight: 500;
        &:hover {
          background-color: #068e8e;
          transition: all 0.3s ease-in-out;
        }
      }

      li {
        display: flex;
        gap: 20px;
        color: white;
      }
    }
  }
}

.home-slider {
  .container-fluid {
    padding: 0;
  }
  img {
    filter: brightness(0.5);
  }
}

.the-company {
  margin: 100px 0;
  i {
    color: #058283;
  }

  .the-company-block {
    width: 73%;
    margin: 0 auto;
  }
  margin-top: 120px;
  .pre-title {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #058283;
  }
  h2 {
    margin: 1.5rem 0;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 800;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

    .featured {
      color: #058283;
    }
  }
  h4 {
    padding: 40px 0 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 676px) {
  .the-company {
    .the-company-block {
      text-align: center;
      width: 100%;
    }
    .company-block {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #header-top,
  #header-main {
    display: none;
  }
}

.tech-innovation {
  background-color: black;
}

.structured {
  padding: 100px 0;
  background-color: #eef4ed;
  h2 {
    font-size: 3rem;
    font-weight: 800;
  }

  .pre-title {
    margin-top: 100px;
  }
  img {
    width: 100%;
    padding: 20px;
  }
}

.team {
  background-color: black;
  padding: 100px 0;

  .row {
    padding: 20px;
  }

  h2 {
    font-size: 3rem;
    font-weight: 800;
  }

  .pre-title {
    font-size: 1rem;
    font-weight: 700;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }
  .team-icon {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    li {
      a {
        background-color: #05838360;
        border-radius: 50%;
        color: #058283;
        &:hover {
          background-color: #0ddbdb60;
        }
      }
    }
  }
  .team-block {
    color: white;
    padding: 0 20px;
  }
  .img-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
