* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

header {
  position: relative;
}

.pre-title {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #058283;
}

.featured {
  color: #058283;
}

h2,
h4,
p,
span {
  cursor: default;
}

#header-top {
  background-color: #21333e;
  font-size: 1rem;
}
#header-top p {
  cursor: default;
  opacity: 0.5;
}
#header-top i {
  opacity: 0.8;
}
#header-top .header-open-group {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}
#header-top .header-open-group p {
  margin: 1rem 0;
}
#header-top .header-info {
  display: flex;
  color: white;
}
#header-top .header-info ul {
  display: flex;
  margin: 0;
}
#header-top .header-info li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#header-top .header-info li p {
  margin: 1rem 0;
}
#header-top .header-icon ul {
  gap: 30px;
  margin: 1rem 0;
}

#header-main {
  z-index: 99999;
  position: fixed;
  width: 100%;
  top: 55px;
}
#header-main .header-main-logo {
  padding-top: 10px;
}
#header-main .navbar {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
#header-main .navbar .nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: baseline;
}
#header-main .navbar .nav a {
  text-decoration: none;
  color: white;
}
#header-main .navbar .nav .navbar-btn {
  position: relative;
  z-index: 2;
  padding: 10px 25px;
  background-color: #058283;
  border-radius: 4px;
  border: 1px solid #058283;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
#header-main .navbar .nav .navbar-btn:hover {
  background-color: #068e8e;
  transition: all 0.3s ease-in-out;
}
#header-main .navbar .nav li {
  display: flex;
  gap: 20px;
  color: white;
}

.home-slider .container-fluid {
  padding: 0;
}
.home-slider img {
  filter: brightness(0.5);
}

.the-company {
  margin: 100px 0;
  margin-top: 120px;
}
.the-company i {
  color: #058283;
}
.the-company .the-company-block {
  width: 73%;
  margin: 0 auto;
}
.the-company .pre-title {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #058283;
}
.the-company h2 {
  margin: 1.5rem 0;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 800;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.the-company h2 .featured {
  color: #058283;
}
.the-company h4 {
  padding: 40px 0 20px 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (max-width: 676px) {
  .the-company .the-company-block {
    text-align: center;
    width: 100%;
  }
  .the-company .company-block {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  #header-top,
#header-main {
    display: none;
  }
}
.tech-innovation {
  background-color: black;
  padding: 120px 0;
}

.structured {
  padding: 100px 0;
  background-color: #eef4ed;
}
.structured h2 {
  font-size: 3rem;
  font-weight: 800;
}
.structured .pre-title {
  margin-top: 100px;
}
.structured img {
  width: 100%;
  padding: 20px;
}

.team {
  background-color: black;
  padding: 100px 0;
}
.team .row {
  padding: 20px;
}
.team h2 {
  font-size: 3rem;
  font-weight: 800;
}
.team .pre-title {
  font-size: 1rem;
  font-weight: 700;
}
.team img {
  width: 100%;
  border-radius: 10px;
}
.team .team-icon {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}
.team .team-icon li a {
  background-color: rgba(5, 131, 131, 0.3764705882);
  border-radius: 50%;
  color: #058283;
}
.team .team-icon li a:hover {
  background-color: rgba(13, 219, 219, 0.3764705882);
}
.team .team-block {
  color: white;
  padding: 0 20px;
}
.team .img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-businnes {
  padding: 120px 0;
}
.our-businnes h2 {
  font-size: 3rem;
  font-weight: 800;
}
.our-businnes a {
  padding: 5px 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #058283;
}
.our-businnes a:hover {
  color: #058283;
}
.our-businnes .outline-button {
  border: #058283 1px solid;
  padding: 5px 30px;
}
.our-businnes .outline-button:hover {
  background-color: #058283;
  color: white;
}
.our-businnes ul li {
  padding: 10px 0;
}

@media only screen and (max-width: 484px) {
  .businnes-block {
    text-align: center;
  }
  .team .row {
    padding: 0 !important;
  }
}
#contact {
  padding: 120px 0;
  background-color: #111117;
}
#contact .send-btn {
  position: relative;
  z-index: 2;
  padding: 10px 25px;
  background-color: #058283;
  border-radius: 4px;
  border: 1px solid #058283;
  color: white;
  text-decoration: none;
}
#contact .send-btn:hover {
  background-color: #068e8e;
  transition: all 0.3s ease-in-out;
}
#contact h2 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}
#contact p {
  color: rgba(255, 255, 255, 0.568);
}
#contact .contacts {
  padding: 0 20px;
}
#contact .contacts h4 {
  color: white;
  font-weight: 700;
}
#contact .contacts .nav-link i {
  padding-right: 10px;
}
#contact a {
  color: #058283;
  font-weight: 300;
  font-size: 1.4rem;
}
#contact .view-btn {
  position: relative;
  z-index: 2;
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #058283;
  color: white;
  text-decoration: none;
}
#contact .view-btn:hover {
  background-color: #058283;
  transition: all 0.3s ease-in-out;
}

#copyright {
  color: rgba(255, 255, 255, 0.555);
  background-color: rgb(0, 0, 0);
}
#copyright span {
  color: #058283;
}
#copyright span:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar-sticky {
  position: fixed;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  background-color: #21333e;
}

#about-us-header .container-fluid {
  padding: 0;
}
#about-us-header .about-us-header-img img {
  width: 100%;
  filter: brightness(50%);
}

#about {
  padding: 120px 0;
}
#about h2 {
  font-size: 3rem;
  font-weight: 800;
}
#about p {
  opacity: 0.5;
}
#about .list-group {
  padding: 0 120px;
}
#about .list-group-item {
  background: #058283;
  color: white;
}

@media only screen and (max-width: 676px) {
  #about {
    padding: 120px 0;
  }
  #about .list-group {
    padding: 0 0;
  }
}
#about-2 {
  padding: 120px 0;
  background: #111117;
}
#about-2 h2 {
  font-size: 3rem;
  font-weight: 800;
}
#about-2 p {
  opacity: 0.8;
  color: white;
}
#about-2 h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #058283;
}
#about-2 h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

#about-3 .fit-image {
  width: 100%;
}
#about-3 h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #058283;
}
#about-3 h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #058283;
}
#about-3 h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}
#about-3 .container-fluid {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

#card {
  background-color: #eef4ed;
}
#card .card-title {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#card .card-title .all {
  background-color: #7eb87c;
  padding: 10px;
}
#card .card-title li {
  cursor: default;
  list-style: none;
  opacity: 0.5;
}

.card-body1 {
  overflow: hidden;
  height: auto;
  background-color: transparent;
  position: relative;
  z-index: 1;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease-out 0s;
}
.card-body1:hover .card-img::before {
  opacity: 0.75;
}
.card-body1:hover .card-img img {
  transform: scale(1.1);
  filter: blur(2px);
}
.card-body1:hover .card-header {
  transform: translateY(0);
  opacity: 1;
}
.card-body1:hover .cardfoot {
  opacity: 1;
}
.card-body1:hover .cardfoot .tre {
  transform: translateY(0);
}
.card-body1:hover .cardfoot .tre a h4 {
  margin-bottom: 24px;
}
.card-body1:hover .cardfoot .tre a p {
  opacity: 1;
}
.card-body1 .card-img {
  overflow: hidden;
  border-radius: 10px;
}
.card-body1 .card-img img {
  position: relative;
  z-index: -1;
  height: auto;
  min-height: 360px;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-out 0s;
}
.card-body1 .card-img::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.2s ease-out 0s;
}
.card-body1 .card-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 50px 25px;
  border: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  transform: translateY(-100px);
}
.card-body1 .card-header span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.card-body1 .cardfoot {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.card-body1 .cardfoot .tre {
  padding: 50px 25px;
  transform: translateY(100px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-body1 .cardfoot a {
  text-decoration: none;
  text-align: center;
}
.card-body1 .cardfoot a h4 {
  margin-bottom: 50px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card-body1 .cardfoot a p {
  margin: 1.5rem 0 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (max-width: 676px) {
  #card .card-title {
    display: none;
  }
}
#most-viewed {
  padding: 120px 0;
}
#most-viewed h2 {
  font-size: 3rem;
  font-weight: 800;
}
#most-viewed .form-control {
  width: 70%;
  height: 50px;
  background: no-repeat;
  box-shadow: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 4px;
  line-height: 1.2;
}
#most-viewed button {
  position: relative;
  z-index: 2;
  padding: 10px 25px;
  background-color: #058283;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
#most-viewed button:hover {
  background-color: rgba(5, 131, 131, 0.662745098);
}

#single {
  padding: 120px 0;
}
#single h2 {
  font-size: 3rem;
  font-weight: 800;
}
#single .gallerei-img {
  padding: 20px;
}
#single img {
  width: 100%;
  height: auto;
}
#single .social li {
  background-color: rgba(5, 131, 131, 0.4392156863);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#single .social li:hover {
  background-color: #058283;
}
#single .social a {
  color: #058283;
}
#single .social a:hover {
  color: #fff;
}
#single .form-control {
  width: 60%;
}
#single button {
  background-color: #058283;
  color: #fff;
}
#single button:hover {
  background-color: rgba(5, 131, 131, 0.4392156863);
  color: #058283;
}

#companies .companies-img {
  padding: 50px;
}
#companies .companies-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  #companies .companies-img {
    padding: 20px;
  }
}
#singlepage {
  padding: 120px 0;
}
#singlepage h2 {
  font-size: 3rem;
  font-weight: 800;
}

#image-block {
  padding: 120px 0;
  background-color: black;
  color: white;
}
#image-block h2 {
  font-size: 3rem;
  font-weight: 800;
}
#image-block .image-block-img {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  #image-block .image-block-img {
    padding: 20px;
  }
}